.primarymain{
background-image:url(/src/lib/Images/hero.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height:89vh;
}
.primTitle{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 100px;
line-height: 130%;
/* or 130px */
text-align: center;
color: #FFFFFF;

}
.primAgency{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 140px;
line-height: 140%;
text-align: center;
-webkit-text-stroke-color:#FFFFFF;
-webkit-text-stroke-width:2px;
}
.primText{
margin-left: 2em;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.8em;
width: fit-content;
padding: .3em;
color: #CCCCCC;
border-left: .3em solid #FF7425;
}